body {
    text-align: center;
}

#board {
    width: 500px;
    height: 500px;
    border: 3px solid brown;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.white {
    background-color: burlywood;
    font-size: 20px;
    max-width: 62.5px;
    max-height: 62.5px;
    min-height: 62.5px;
    margin: 0%;
}

.black {
    background-color: #7D533E;
    font-size: 20px;
    max-width: 62.5px;
    max-height: 62.5px;
    min-height: 62.5px;
    margin: 0%;
}

.fa-chess-pawn {
    position: relative;
    font-size: larger;
    top: 30%;
}

.fa-chess-rook {
    position: relative;
    font-size: larger;
    top: 30%;
}

.fa-chess-knight {
    position: relative;
    font-size: larger;
    top: 30%;
}

.fa-chess-bishop {
    position: relative;
    font-size: larger;
    top: 30%;
}

.fa-chess-queen {
    position: relative;
    font-size: larger;
    top: 30%;
}

.fa-chess-king {
    position: relative;
    font-size: larger;
    top: 30%;
}